Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: mobilesubstrate, kr.slak.cctoggles
Version: 0.0.1
Architecture: iphoneos-arm
Description: A Simple toggle for CCToggles!
Maintainer: @@USER@@
Author: @@USER@@
Section: Addons (CCToggles)
